<p id="notice"><%= notice %></p>

<h1>Ranking Imports</h1>

<table>
  <thead>
    <tr>
      <th>Rank date</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ranking_imports.order(rank_date: :desc).each do |ranking_import| %>
      <tr>
        <td><%= ranking_import.rank_date %></td>
        <td><%= ranking_import.title %></td>
        <td><%= link_to 'Show', ranking_import %></td>
        <td><%= link_to 'Edit', edit_ranking_import_path(ranking_import) %></td>
        <td><%= link_to 'Destroy', ranking_import, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ranking Import', new_ranking_import_path %>
