<p id="notice"><%= notice %></p>


<h2>Velg aldersklasse:</h2>
<div class="tab">
  <button class="tablinks1"  onclick="openAge(event, 'Herrer')">Herrer</button>
  <button class="tablinks1" onclick="openAge(event, 'Damer')">Damer</button>
</div>

<div id="Herrer" class="tabcontent1" >

  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'SingleH')">Single</button>
    <button class="tablinks" onclick="openCity(event, 'DoubleH')">Double</button>
  </div>

  <div id="SingleH" class="tabcontent">
    <p><%= link_to "Herrer senior", ranking_import_path(@ranking_import) + "?ranking_category=single&gender=male&age=senior" %></p>
    <p><%= link_to "Gutter u19", ranking_import_path(@ranking_import) + "?ranking_category=single&gender=male&age=19" %></p>
    <p><%= link_to "Gutter u16", ranking_import_path(@ranking_import) + "?ranking_category=single&gender=male&age=16" %></p>
    <p><%= link_to "Gutter u14", ranking_import_path(@ranking_import) + "?ranking_category=single&gender=male&age=14" %></p>
  </div>
  <div id="DoubleH" class="tabcontent" style="margin-left: 90px">
    <p><%= link_to "Herrer double senior", ranking_import_path(@ranking_import) + "?ranking_category=double&gender=male&age=senior" %></p>
    <p><%= link_to "Gutter double u19", ranking_import_path(@ranking_import) + "?ranking_category=double&gender=male&age=19" %></p>
    <p><%= link_to "Gutter double u16", ranking_import_path(@ranking_import) + "?ranking_category=double&gender=male&age=16" %></p>
    <p><%= link_to "Gutter double u14", ranking_import_path(@ranking_import) + "?ranking_category=double&gender=male&age=14" %></p>
  </div>

</div>

<div id="Damer" class="tabcontent1" >
   <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'SingleD')">Single</button>
    <button class="tablinks" onclick="openCity(event, 'DoubleD')">Double</button>
  </div>
  
  <div id="SingleD" class="tabcontent">
    <p><%= link_to "Damer senior", ranking_import_path(@ranking_import) + "?ranking_category=single&gender=female&age=senior" %></p>
    <p><%= link_to "Jenter u19", ranking_import_path(@ranking_import) + "?ranking_category=single&gender=female&age=19" %></p>
    <p><%= link_to "Jenter u16", ranking_import_path(@ranking_import) + "?ranking_category=single&gender=female&age=16" %></p>
    <p><%= link_to "Jenter u14", ranking_import_path(@ranking_import) + "?ranking_category=single&gender=female&age=14" %></p>
  </div>
  <div id="DoubleD" class="tabcontent" style="margin-left: 90px">
    <p><%= link_to "Damer double senior", ranking_import_path(@ranking_import) + "?ranking_category=double&gender=female&age=senior" %></p>
    <p><%= link_to "Jenter double u19", ranking_import_path(@ranking_import) + "?ranking_category=double&gender=female&age=19" %></p>
    <p><%= link_to "Jenter double u16", ranking_import_path(@ranking_import) + "?ranking_category=double&gender=female&age=16" %></p>
    <p><%= link_to "Jenter double u14", ranking_import_path(@ranking_import) + "?ranking_category=double&gender=female&age=14" %></p>
     
  </div>
</div>

<hr/>

<% if @show_ranking == true %>

<h2>
  <%= @ranking_import.rank_date.strftime("%B %Y") %> - 
  <%= @age + " " + @gender + "  " + @ranking_category %><br/>

</h2>
<hr/>
<%= render 'ranking_imports/partials/ranking_table', ranking: @ranking %>

<% else %>
<h2><%= @ranking_import.rank_date.strftime("%B %Y") %></h2>
<%= render 'ranking_imports/partials/ranking_table_false', ranking: @senior %>
<% end %>
<div style="float: left; width: 100%; margin-top: 50px;">
<%= form_tag import_ranking_imports_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag :ranking_import_id, @ranking_import.id %>
  <%= submit_tag "Import" %>
  <% end %>
</div>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

function openAge(evt, cityName) {
  var i, tabcontent1, tablinks1;
  tabcontent1 = document.getElementsByClassName("tabcontent1");
  for (i = 0; i < tabcontent1.length; i++) {
    tabcontent1[i].style.display = "none";
  }
  tablinks1 = document.getElementsByClassName("tablinks1");
  for (i = 0; i < tablinks1.length; i++) {
    tablinks1[i].className = tablinks1[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
