<p id="notice"><%= notice %></p>
<%= link_to "Senior Herrer Single", players_path + "?type=Herrer single" %> | 
<%= link_to "Senior Damer Single", players_path + "?type=Damer single" %> | 
<%= link_to "Junior Gutter Single", players_path + "?type=Junior gutter single" %> | 
<%= link_to "Junior Jenter Single", players_path + "?type=Junior jenter single" %> | 
<h1><%= @title %></h1>
<% @arr.each do |players| %>
<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Navn</th>
      <th>Fødeselsår</th>
      <th>Reliability</th>
      <th>Utr</th>
      <% RankingImport.order(rank_date: :desc).limit(3).each do |r| %>
      <th><%= r.title %></th>
      <% end %>
      

    </tr>
  </thead>

  <tbody>
    <% num = 0 %>
    <% last_rank = 0.0 %>
    
    <% players.limit(20).each do |player| %>
    
      <tr>
        <% player_last_rank = player.rank %>
        <% if player.rank == last_rank %>
          <td><%= num  %></td>
          <% num = num + 1 %>
        <% else %>
          <td><%= num = num + 1  %></td>
        <% end %>
        <td><%= link_to player.name, "https://myutr.com/profiles/" + player.utr_player_id.to_s  %></td>
    
        <td><%= player.birthyear %></td>
        <td><%= player.reliability %></td>
        <td><b><%= player.rank %></b></td>
  
        <% RankingImport.order(rank_date: :desc).limit(3).each do |r| %>
        <% rank = r.rankings.find_by_utr_player_id(player.utr_player_id) %>
          <% if rank.nil? %>
          <td>N/A</td>
          <% else %>
            <td><small><%= rank.utr %> </small></td>
          <% end %>
        <% end %>
      </tr>
      <% last_rank = player.rank %>
    <% end %>
  </tbody>
</table>
<br/> <br/>
<% end %>
<br>

<%= form_tag import_players_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>


