
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Navn</th>
        <th>Fødeselsår</th>
        <th>Reliability</th>
        <th>Utr</th>
      </tr>
    </thead>
    <tbody>
      <% num = 0 %>
      <% duplicates = 0 %>
      <% last_rank = Ranking.new %>
      <% n = 0 %>
      <% @ranking.each do |rank| %>
        <% if n.odd? %>
          <tr class="odd">
          <% else %>
          <tr>
          <% end %>
          <% n = n + 1 %>
          <% if rank.utr == last_rank.utr %>
            <td><%= num  %></td>
            <% duplicates = duplicates + 1 %>
          <% else %>
            <% if duplicates == 0 %>
              <td><%= num = num + 1  %></td>
            <% else %>
              <td><%= num = num + duplicates + 1  %></td>
              <% duplicates = 0 %>
            <% end %>
          <% end %>
          <td><%= link_to rank.player.name, "https://myutr.com/profiles/" + rank.player.utr_player_id.to_s  %></td>
          <td><%= rank.player.birthyear %></td>
          <td><%= rank.reliability %></td>
          <td><%= link_to rank.utr, rank.player %></td>
        </tr>
        <% last_rank = rank %>
      <% end %>
    </tbody>
  </table>
  <br/> <br/>
