<!DOCTYPE html>
<html>
  <head>
    <title>UTR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar">
    <a href="https://tennis.no" target="_blank">Tennis.no</a>
    <%= link_to "Rankinger", ranking_imports_path %>

<span style="float:right;"><small>
    <% if current_user %>
      
      <%= link_to "Log Out", logout_path %>
      
    <% else %>
      <%= link_to "Log In", login_path %>
    <% end %>
</small></span>
</div>

  <div class="main">
    <%= yield %>
  </div>
  </body>
</html>
